{% extends 'base.html' %}
{% load static %}

{% block content %}
    <style>
        .navbar {
            background-color: #14190A;
        }

        .navbar-header a {
            color: azure;
        }
        .success{
            display: none;
        }

        .styling{
            margin-top: 52px;
            margin-bottom: -21px;
        }
    </style>
    <link rel="stylesheet" href="{% static 'css/signUp.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <div class="container">

        <div class="form-group styling">
            {% if messages %}
                <ul class="messagelist">
                    {% for message in messages %}
                        <li>
                            <div class="alert alert-success">
                                {{ message }}
                            </div>

                        </li>

                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <section class="sign-in">
        <div class="container">
            <div class="signin-content">
                <div class="signin-form">
                    <h2 class="form-title">Log In</h2>
                    <form method="POST" class="register-form" id="login-form">
                        {% csrf_token %}
                        <div class="form-group">
                            <label for="your_name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                            <input type="text" name="username" id="your_name" placeholder="Your Name"/>
                        </div>
                        <div class="form-group">
                            <label for="your_pass"><i class="zmdi zmdi-lock"></i></label>
                            <input type="password" name="password" id="your_pass" placeholder="Password"/>

                        </div>
                        <div class="form-group">
                            <input type="checkbox" name="remember-me" id="remember-me" class="agree-term"/>
                            <label for="remember-me" class="label-agree-term"><span><span></span></span>Remember
                                me</label>
                        </div>
                        <div class="form-group form-button">
                            <input type="submit" name="signin" id="signin" class="form-submit" value="Log in"/>
                        </div>
                    </form>
                </div>

                <div class="signin-image">
                    <figure><img src="{% static 'img/logIn.jpg' %}" alt="sing up image"></figure>
                    <a href="{% url 'register' %}" class="signup-image-link">Create an account</a>
                </div>


            </div>
        </div>
    </section>
    <script>

        var form_fields = document.getElementsByTagName('input');
        form_fields[2].placeholder = 'Enter UserName';
        form_fields[3].placeholder = 'Enter Password';

    </script>


{% endblock content %}