{% load static %}
<footer class="main-footer">

      <div class="container" style="display: flex">

            <div style="display:block;" class="d-block mx-auto">
            <h4 class="text-white" data-aos="zoom-out">Lets Learn Together</h4>

              <p class="text-center" data-aos="fade-left">Debashis Gupta</p>
              <p class="text-center" data-aos="fade-right">Phone: (+880) 1764 886720</p>
              <p class="text-center" data-aos="zoom-in">Email: <a href="mailto:debashisguptapapai@gmail.com">debashisguptapapai@gmail.com</a></p>
              <ul class="social-menu text-center" data-aos="zoom-in">
                <li class="list-inline-item"><a href="https://www.facebook.com/deb.gupta.15"><i class="fa fa-facebook"></i></a></li>
                <li class="list-inline-item"><a href="https://twitter.com/DebashisGupta16"><i class="fa fa-twitter"></i></a></li>
                <li class="list-inline-item"><a href="https://www.youtube.com/channel/UCuFFQVEX1K1V5alKtBu2g3g?view_as=subscriber"><i class="fa fa-youtube-play"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-github"></i></a></li>
                <li class="list-inline-item"><a href="#"><i class="fa fa-pinterest"></i></a></li>
              </ul>
            </div>
          </div>

{#             <div class="col-md-4">#}
{#            <div class="menus d-flex">#}
{#              <ul class="list-unstyled">#}
{#                <li> <a href="#">My Account</a></li>#}
{#                <li> <a href="#">Add Listing</a></li>#}
{#                <li> <a href="#">Pricing</a></li>#}
{#                <li> <a href="#">Privacy &amp; Policy</a></li>#}
{#              </ul>#}
{#              <ul class="list-unstyled">#}
{#                <li> <a href="#">Our Partners</a></li>#}
{#                <li> <a href="#">FAQ</a></li>#}
{#                <li> <a href="#">How It Works</a></li>#}
{#                <li> <a href="#">Contact</a></li>#}
{#              </ul>#}
{#            </div>#}
{#          </div>#}
{#          <div class="col-md-4">#}
{#            <div class="latest-posts"><a href="#">#}
{#                <div class="post d-flex align-items-center">#}
{#                  <div class="image"><img src="{% static 'img/small-thumbnail-1.jpg' %}" alt="..." class="img-fluid"></div>#}
{#                  <div class="title"><strong>Hotels for all budgets</strong><span class="date last-meta">October 26, 2016</span></div>#}
{#                </div></a><a href="#">#}
{#                <div class="post d-flex align-items-center">#}
{#                  <div class="image"><img src="{% static 'img/small-thumbnail-2.jpg' %}" alt="..." class="img-fluid"></div>#}
{#                  <div class="title"><strong>Great street atrs in London</strong><span class="date last-meta">October 26, 2016</span></div>#}
{#                </div></a><a href="#">#}
{#                <div class="post d-flex align-items-center">#}
{#                  <div class="image"><img src="{% static 'img/small-thumbnail-3.jpg' %}" alt="..." class="img-fluid"></div>#}
{#                  <div class="title"><strong>Best coffee shops in Sydney</strong><span class="date last-meta">October 26, 2016</span></div>#}
{#                </div></a></div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}
{#        </div>#}
      <div class="copyrights">
        <div class="container">
          <div class="row text-center">
            <div class="col-md-12">
              <p>&copy; 2020 All rights  reserved to <strong>Debashis Gupta</strong>.</p>
            </div>
{#            <div class="col-md-6 text-right">#}
{#              <p>Template By <a href="https://bootstraptemple.com" class="text-white">Bootstrap Temple</a>#}
{#                <!-- Please do not remove the backlink to Bootstrap Temple unless you purchase an attribution-free license @ Bootstrap Temple or support us at http://bootstrapious.com/donate. It is part of the license conditions. Thanks for understanding :)                         -->#}
{#              </p>#}
{#            </div>#}
          </div>
        </div>
      </div>
    </footer>